<%- include ("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-dark">
                <h3 class="card-header text-center"><%= user.username %></h3>
                <img class="card-img-top" src="<%= user.avatar %>" alt="User Profile Avatar">
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <h3 class="list-group-item text-white bg-dark text-center">Created Campgrounds</h3>
                <% campgrounds.forEach(function(campground) { %>
                    <a href="/campgrounds/<%= campground.slug %>" class="list-group-item list-group-item-action"><%= campground.name %> - $<%= campground.price %>/night</a>
                <% }); %>
              </div>
        </div>
    </div>
</div>

<%- include ("../partials/footer") %>